$colorPrimary: #2e3192;
$colorSecondary: #5fbb51;
$colorTertiary: #e33338;
$colorBlack:#373435;
$colorWhite: #ffffff;
$copyrightBG:#0a0908;
$footerBG:#1d263b;
$footerText:#f7f7ff;

$transition: 0.4s ease;
$boxShadowOne:rgba(149, 157, 165, 0.2) 0px 8px 24px;
